.skill {
    width: 250px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #888;
    color: #888;
    font-family: 'Rambla', sans-serif;
    margin: 5px
;
}
.skill h3 {
    font-family: 'Oswald', sans-serif;
    color: white;
    /*text-transform: uppercase;*/
    letter-spacing: 3px;
}
.icon {
    height: 60px;
    width: 60px;
    background-color: #F68338;
}
.description {
    text-align: center;
}
