.skill {
    width: 250px;
    background-color: #c7b6b6;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon {
    height: 60px;
    width: 60px;
    background-color: #44449d;
}
.description {
    text-align: center;
}
