.skillsBlock {
    height: 100vh;
    background-color: #a0b987;

}

.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    border: 1px solid;
    background-color: #a589be;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.title {
    background-color: #eab5a5;
}