@import '../common/styles/sass/variables.scss';

.skillsBlock {
  min-height: 100vh;
  padding-top: $headerHeight;
  background-color: $bgSecondColor;
  .skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }

  .skills {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 249px) {
    .skillsContainer {
      text-align: center;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}
