@import '../common/styles/sass/variables.scss';

.skillsBlock {
  min-height: 90vh;
  padding-top: $headerHeight;
  background-color: $bgSecondColor;
  padding-bottom: 30px;
  @media screen and (max-width: 1569px) {
    margin-top: -2px;
  }
}

.skillsContainer {
 /* border: 1px solid $secondaryColor;*/
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  /*padding: 25px 0;*/
}

.skills {
/*  background-color: $bgColor;*/
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /*    align-items: flex-start; -- размер будет выравнивать по содержимому блока skill*/
}

@media screen and (max-width: 249px) {
  .skillsContainer {
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
}
