@import '../common/styles/sass/variables';
.mainBlock {
    min-height: 90vh;
    background-color: $bgSecondColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .mainContainer {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #191919;
        @media screen and (max-width: 915px) {
            justify-content: center;
        }
        .salutation {
            padding-left: 20px;
            width: 400px;
            background-color: #191919;
            font-family: 'Oswald', sans-serif;
            @media screen and (max-width: 915px) {
                width: 250px;
                padding-left: 2px;
                text-align: center;
            }
            & h1 {
                color: white;
                margin-bottom: 20px;
                font-weight: 500;
                font-size: 35px;
                letter-spacing: 4px;
                text-transform: uppercase;
                line-height: 1.5em;
                margin-top: unset;
            }

            & h2 {
                font-size: 15px;
                text-transform: uppercase;
                color: #F68338;
                font-weight: 400;
                letter-spacing: 5px;
                margin-bottom: unset;
            }

            & p {
                display: flex;
                font-size: 22px;
                text-transform: uppercase;
                color: #F68338;
                font-weight: 400;
                letter-spacing: 5px;
                margin-bottom: unset;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 67%;
                    background: #F68338;
                    bottom: 0;
                    @media screen and (max-width: 915px) {
                        height: 0px;
                    }
                }
            }
        }
        .photo {
            width: 350px;
            height: 500px;
            background-color: #888;
        }
    }
}

/*
@media screen and (max-width: 915px) {
    .mainContainer {
        justify-content: center;
    }
    .salutation {
        width: 250px;
        padding-left: 2px;
        text-align: center;
    }
    .salutation p::after {
        height: 0px;
    }
}*/
