@import '../../common/styles/sass/variables';

.project {
  margin-top: 5px;
  color: $textColor;
  background-color: $bgColor;
  opacity: 0.9;
  border: 1px solid $textColor;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 380px) {
    min-width: 303px;
  }

  .image {
    position: relative;
    height: 200px;
    width: 350px;
    /*width: 100%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    @media screen and (max-width: 453px) {
      height: 160px;
      width: 280px;
    }
    @media screen and (max-width: 365px) {
      height: 128px;
      width: 224px;
    }

    &::before {
      position: absolute;
      content: '';
      background: $bgSecondColor;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }
  }

  .description {
    color: $secondaryColor;
    text-align: center;
    font-family: 'Rambla', sans-serif;
    font-size: 15px;
    line-height: 1.75em;
    font-weight: 400;
    margin: 0 5px;
  }
  .description:nth-child(2n) {
    font-size: 12px;
    color: $primaryColor;
    margin: 10px;
  }
}
