.project {
    color: white;
    background-color: #191919;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.image {
    height: 200px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("");*/
    background-size: cover;
    background-position: center;
}

.description {
    background-color: #191919;
    text-align: center;
    font-family: 'Rambla', sans-serif;
    font-size: 15px;
    line-height: 1.75em;
    font-weight: 400;
    color: #888;
    margin: 0 0 20px;

}
@media screen and (max-width: 453px) {
    .image {
        height: 160px;
        width: 280px;
    }
}
@media screen and (max-width: 365px) {
    .image {
        height: 128px;
        width: 224px;
    }
}

.button {
    display: inline-block;
    background: #F68338;
    color: #fff;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
