@import '../common/styles/sass/variables';
.nav {
    width: 350px;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    padding: 3px;
    & a {
        text-decoration: none;
        color: $textColor;
        letter-spacing: 1.5px;
        &:hover {
            color: #f68338;
        }
    }
    .active {
        text-decoration: underline #f68338;
    }
}
