@import './variables';
@mixin text($fontFamily, $fontSize) {
font-family: $fontFamily;
  font-size: $fontSize;
}
@mixin flex($flex-direction, $align-items, $justify-content, $flex-wrap) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-wrap: $flex-wrap;
}
@mixin container() {
  width: 80%;
  margin: 0 auto;
}
@mixin bgSettings() {

}