$textColor: #fff;
$primaryColor: #f68338; /*#cfa200*/
$bgColor: #191919;
$bgSecondColor: #000;
$secondaryColor: #888;

$headerHeight: 60px;
$fontFamily: Oswald, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
