.projectsBlock {
    min-height: 100vh;
    background-color: #000;
}

.projectsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #191919;
    border: 1px solid #888;
}

.projects {
    /*border: 1px solid;*/
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
